<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <style>
            .navbar{
                margin:10px;
            }
            .form-group{
                margin-left:40px;
                margin-right:40px;
                margin-top:10px;
            }
            .form-control{
                width:1000px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar">
          <a class="navbar-brand" href="#"><h1 style="font-weight:bold; color:#9575cd;">새로운 질문을 작성할 페이지입니다.</h1></a>
        </nav>
        <form action="/question/create_it" method="post">
            <div class="form-group">
                <label for="exampleTextarea" style="font-size:20px">질문</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" name="quest"></textarea>
                <br>
                <button type="submit" class="btn btn-warning">제출</button>
              </div>
          </form>
    </body>
</html>